button:hover{
    font-size: 1.1em;
    background-color: hsl(20, 66%, 52%);
}
button:active{
    font-size: 1 em;
    background-color: hsl(0, 0%, 50%);
}
a:link{
    color: hsl(324, 84%, 51%);
}
a:hover{
    color:hsl(350, 100%, 88%);
    font-size: 1.1em;
}
a:active{
    color: hsl(156, 56%, 32%);
    font-size: 1.1em;
}
a:visited{
    color:hsl(182, 25%, 50%)
}
li:hover{
    background-color:aqua ;
}
li:not(:hover){
    background-color:aliceblue ;
}
li:nth-child(3n+2){
    background-color: rgb(226, 170, 86);
}
#greeting p{
    background-color:aqua;
    padding: 5px;
    display:none;

}
#greeting:hover p{
    display:block
}