body{
    background-image: url(/images/scenic-beauty-sunrise-peaceful-frozen-lake-winter_838900-10888.avif);
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: fixed;
    background-size:cover ;
}